/* body{
    background-color: rgb(0, 0, 0);
} */
header{
    background-color: #4f2d79;
    font-size: 48px;
    color: aliceblue;
}
header button{
    background-color: #cecece;
}
/* #4f2d79 */
footer{
    background-color: #4f2d79;
    color: aliceblue;
    font-size: 24px;
}
a{ text-decoration:none} a:hover{ text-decoration:none}
a,a:focus{
    outline:none;
}
a{
    color: aliceblue;
}
table{
    font-size: 24px;
    background-color: #cecece;
}
#gotop {
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(132, 126, 126, 0.36);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
}